/* room */

.rooms {
    margin: 40px 0;
}

.room {
    margin: 45px 0;
    padding-bottom: 25px;
    background: white;
    color: black;
    border: 3px solid #f9d342;
    ;
}

.room-text {
    padding: 5px 20px;
}

.room-text h3 {
    font-size: 24px;
}

.room-text ul {
    list-style-type: none;
    margin: 15px 0;
}

.room-text ul li {
    padding: 7px 0;
}

.room-text ul li i {
    color: var(--yellow);
    margin-right: 10px;
}

.rate {
    opacity: 0.8;
}

.rate span {
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}

.room-image {
    overflow: hidden;
}

.room-image img {
    transition: var(--transition);
}

.room-image:hover img {
    transform: scale(1.1);
}

@media (min-width: 900px) {
    .rooms-container {
        display: flex;
        flex-wrap: wrap;
    }
    .room {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}

@media(min-width: 1370px) {
    .rooms-container {
        flex-direction: column;
    }
    .room {
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image {
        flex: 1;
    }
    .room-image img {
        height: 100%;
    }
    .room-text {
        flex: 1;
    }
    .room:nth-child(even) {
        flex-direction: row-reverse;
    }
}